@model WebsiteHotrohoctap.Models.ExamResult

@{
    ViewData["Title"] = "Xóa kết quả bài thi";
}

<div class="container mt-4">
    <h2 class="text-center">Xóa kết quả bài thi</h2>

    <p>Bạn có chắc chắn muốn xóa kết quả bài thi của người dùng <strong>@Model.User.UserName</strong> cho bài thi <strong>@Model.Exam.ExamName</strong> không?</p>

    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.ResultID">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a href="@Url.Action("Index", "ExamResult")" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>
