@model WebsiteHotrohoctap.Models.Lesson

@{
    ViewData["Title"] = "Xóa bài học";
}

<h2 class="text-center">Xóa bài học</h2>

<h3 class="text-center">Bạn chắc chắn muốn xóa bài học này không?</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4 class="text-center">Thông tin bài học</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                Tên bài học
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LessonName)
            </dd>
            <dt class="col-sm-3">
                Mô tả bài học
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LessonDescription)
            </dd>
            <dt class="col-sm-3">
                Khóa học
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
        </dl>
    </div>
</div>

<div class="text-center mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="LessonID" />
        <button type="submit" class="btn btn-danger btn-lg">Xóa bài học</button>
    </form>
    <br />
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại danh sách bài học</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
